.navbar-button:hover {
    color: white;
    cursor: pointer;
}

.selected .navbar-button {
    color: white
}

.navbar-button {
    color: gray;
    
}

.desktop-only {
    .navbar-button-wrapper {
        margin-right: 3rem;
    }
}