.desktop-only {
    &.navbar {
        height:15rem;
        padding:2rem;
    }
}

.mobile-only {
    .navbar-buttons {
        overflow-y: hidden;
        padding: 0;
        box-sizing: content-box;

        &:not(.show) {
            max-height: 0;
            transition: max-height 0.1s linear;
        }
        
        &.show {
            max-height: 200px;
            transition: max-height 0.1s linear;
        }
    }
}

